
html {
    background-color: #bbbbbb;
    padding: 0px;
}
body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}
p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}
p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}
p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}
h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}
a {
    font-family: inherit;
}
img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}
.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}
div.altruity {
    background-color: #981D13;
    text-align: left;
    border-right-style: solid;
}
div.avarice {
    background-color: #E3C043;
    text-align: right;
    border-left-style: solid;
}
div.self {
    background-color: #398292;
    text-align: left;
    border-right-style: solid;
}
div.totality {
    background-color: #6A2E2C;
    text-align: right;
    border-left-style: solid;
}
div.incognitism {
    background-color: #30854C;
    text-align: right;
    border-left-style: solid;
}
div.cosmocracy {
    background-color: #2D017A;
    text-align: left;
    border-right-style: solid;
}
div.immorality {
    background-color: #5B2000;
    text-align: right;
    border-left-style: solid;
}
div.moralist {
    background-color: #80FF00;
    text-align: left;
    border-right-style: solid;
}
div.systematic {
	background-color: #80B1D3;
	text-align: right;
	border-right-style: solid;
}
div.chaotic {
	background-color: #C09AEC;
	text-align: left
	border-left-style: solid;
}
div.replacement {
	background-color: #CC0033;
	text-align: right;
	border-right-style: solid;
}
div.regressive {
	background-color: #B7C705;
	text-align: left;
	border-left-style: solid;
}
div.supremacist {
	background-color: #D2B48C;
	text-align: right;
	border-right-style: solid;
}
div.egalitarian {
	background-color: #FB9601;
	text-align: left;
	border-left-style: solid;
}
div.esoteric {
	background-color: #9A6C0F;
	text-align: right;
	border-right-style: solid;
}
div.nihilism {
	background-color: #343C3D;
	text-align: left;
	border-left-style: solid;
}
div.urbanism {
	background-color: #30854C;
	text-align: right;
	border-right-style: solid;
}
div.universalism {
	background-color: #BEBADA;
	text-align: left;
	border-right-style: solid;
}
div.aristocracy {
	background-color: #FFFF00;
	text-align: right;
	border-left-style: solid;
}
div.ochlocracy {
	background-color: #7D00D0;
	text-align: left;
	border-left-style: solid;
}
div.monoculturalism {
	background-color: #004D3B;
	text-align: right;
	border-left-style: solid;
}
div.panculturalism {
	background-color: #D10099;
	text-align; left;
	border-left-style: solid;
}
div.irenic {
	background-color: #FFFFFF;
	text-align: right;
	border-right-style: solid;
}
div.destructionism {
	background-color: #004904;
	text-align: left;
	border-left-style: solid;
}

span.weight-300 {
    font-weight: 300;
}
#banner {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}
